html {
  background-color: #f5f5f5;
}

body {
  font-family: sans-serif;
  margin-top: 50px;
  padding: 0;
}

.collection-list {
  display: grid;
  place-items: center;

  background-color: white;
  margin-inline: 1%;
  padding: 15px;
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow:2px 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 22px;
  color: #383838;
}

form {
  display: grid;
  grid-template-columns: 6fr 4fr 0.5fr;
  grid-auto-flow: column;
}

input[type="text"] {
  border: none;
  outline: none;
  border-bottom: solid 1px #666;
  margin-right: 5px;
  padding: 0;
}

input[type="text"]:focus {
  border-bottom: solid 1px #c0c0c0;
}

input[type="submit"] {
  border: none;
  outline: none;
  background-color: #c0c0c0;
  color: #f7f7f7;
  padding: 3px 10px;
  border-radius: 3px;
  width: 55px;
}

.delete-btn:hover {
  box-shadow: none;
  background: #ff2222;
  color: #f7f7f7;
}

.add-btn:hover {
  box-shadow: none;
  background: #30e620;
  color: #f7f7f7;
}

.list-item {
  display: grid;
  grid-template-columns: 15fr 1fr;

  margin: 10px 0;
}

.book-info {
  display: grid;
  grid-template-columns: 3fr 2fr;
}